@font-face {
    font-family: 'Anonymous_Pro';
    src: url('code_text/Anonymous_Pro.ttf') format('truetype');
}
.code{
  position: relative;
	padding: 0.5em;
	margin-bottom: 1em;
    height: 100%;
	font-family: 'Anonymous_Pro';
}

#line{
	float: left;
	margin-left: 12.5%;
    overflow: hidden;
	/*width: 4em;*/
	-moz-box-shadow:    0 0 5px 2px #87aada;
    -webkit-box-shadow: 0 0 5px 2px #87aada;
    box-shadow:         0 0 5px 2px #87aada;
    background: linear-gradient(90deg,rgba(10,10,10,1) 0,rgba(142,143,143,1) 80%,rgba(150,150,150,1) 100%);
    cursor: default;
}

.number{
    display: block;
    width: 100%;
	font-family: 'Anonymous_Pro';
    font-size: 1.3em;
    font-weight: 100;
	text-align: left;
	color: #c7c7bd;
	font-style: italic;
	width: 3em;
	transition: background 0.5s,color 0.5s;
    -ms-transition: background 0.5s,color 0.5s;
    -webkit-transition: background 0.5s,color 0.5s;
}
.number:hover{
	background: #f4e639;
	color:  black;
}
#code {
    overflow-y: hidden;
    white-space: nowrap;
    width: 70%;
    padding-left: 1em;
    padding-bottom: 0.3em;
    font-family: 'Anonymous_Pro';
    font-size: 1.3em;
    letter-spacing: 2px;
    text-align: left;
    background: #f0f3f6;
    -moz-box-shadow:    0 0 5px 2px #87aada;
    -webkit-box-shadow: 0 0 5px 2px #87aada;
    box-shadow:         0 0 5px 2px #87aada;
}
