#errorMsg{
width: 100%;
margin: 1% auto;
text-align: center;
position: absolute;
font-family: poiret-one, sans-serif;
font-size: 2em;
color: red;
}

#loginCreds{
width: 100%;
margin: 15% auto;
text-align: center;
position: absolute;
}

.enter {
	display:block !important;
	font-weight: bold;
	margin: auto;
	font-size: 2.5em;
}

input[type='text'], input[type='password']
{
width: 20em !important;
height: 2em !important;
font-weight: bold;
font-size: 2em !important;
text-align: center;
}

#join{
	display: block;
    width: 5em;
    font-size: 2em;
    text-align: center;
    margin-left: 87%;
    margin-top: 0.5em;
}
