#details{
	font-family: poiret-one, sans-serif;
	/*text-align: center;*/
	position: absolute;
	margin-top: 3.5em;
	width: 99.9%;
	background: white;
}
#subcall{
	font-family: poiret-one, sans-serif;
	font-weight: bolder;
	font-size: 1.5em;
}
#field_title{
	margin-left: 10%;
	font-family: poiret-one, sans-serif;
	font-weight: bolder;
	font-size: 2em;
	text-transform: uppercase;
	text-decoration: underline; 
}
.details{
	width: 98%;
	margin: 1em;
	-moz-box-shadow:    0 0 3px 3px #5c5d63;
    -webkit-box-shadow: 0 0 3px 3px #5c5d63;
    box-shadow:         0 0 3px 3px #5c5d63;
}
.details td{
	margin-bottom: 0.5em;
}
.subdetails{
	width: 10em;
	font-family: poiret-one, sans-serif;
	font-weight: bolder;
	font-size: 2em;
	color: gray;
}
table textarea{
	resize: none;
	width: 98%;
	height: 15em;
	padding: 0.3em;
	font-family: poiret-one, sans-serif;
	font-weight: bolder;
	font-size: 1.5em;
	border: none;
	background: #eaeaea;
	border-radius: 10px;
}
input.genCreds{
	width: 30em;
	font-family: poiret-one, sans-serif;
	font-weight: bolder;
	font-size: 2em;
}
span#default_due{
	display: block;
	text-align: center;
	width: 100%;
	color: green;
	font-family: poiret-one, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}
span.radio{
	font-family: poiret-one, sans-serif;
	font-weight: bolder;
	font-size: 2em;
}
#create{
	margin-left: 40%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 2em;
}

/***Project details***/
#p_details{
	padding: 0.5em;
	background: linear-gradient(rgb(255,255,255) 50%,rgb(219,211,211) 100%);
	margin-bottom: 0.5em;
	-moz-box-shadow:    0 0 3px 3px #5c5d63;
    -webkit-box-shadow: 0 0 3px 3px #5c5d63;
    box-shadow:         0 0 3px 3px #5c5d63;
}
.type{
	font-size: 1em;
	padding: 0.5em;
}
.title{
	font-size: 2.5em;
	font-weight: bold;
	cursor: pointer;
	transition: color 0.5s;
    -ms-transition: color 0.5s;
    -webkit-transition: color 0.5s;
}
.title:hover{
	color: blue;
}
#project td{
	width: 25em;
	color: gray;
	font-size: 1.5em;
}
.created{
	font-weight: bold;
	padding: 0.5em;
}
#p_directory{
	height: 3em;
	padding: 0.3em;
	background: linear-gradient(rgba(33,33,33,1) 0,rgba(142,143,143,1) 60%,rgba(188,188,188,1) 100%);
	cursor: default;
	text-shadow: 0 3px 3px #303030;
}
.dir{
	color: white;
	font-size: 2em;
	padding: 0.3em;
	margin: auto;
	cursor: pointer;
}
#all_file{
	float: right;
	color: white;
	font-size: 2em;

}
#new_file{
	display: inline-block;
	font-size: 2em;
	margin: 0.5em;
	margin-left: 42.3%;
}
#p_content{
	height: 5em;
}
.null_data{
	display: block;
	width: 100%;
	margin: auto;
	text-align: center;
	color: gray;
	font-size: 2em;
}
.file_details{
	width: 99%;
	margin: auto;
	margin-bottom: 0.2em;
	/*
	-moz-box-shadow:    0 0 3px 3px #5c5d63;
    -webkit-box-shadow: 0 0 3px 3px #5c5d63;
    box-shadow:         0 0 3px 3px #5c5d63;
    */
    border-radius: 5px;
    background: linear-gradient(rgba(215,226,234,1) 0,rgba(172,180,187,1) 50%,rgba(226,227,227,1) 100%);
    border-collapse: collapse;
    border-spacing: 0;
}
.file_details td{
	padding: 0.3em;
}
td.basename{
	width: 13em;
	padding: 0.5em;
	font-size: 1.7em;
	font-weight: bolder;
	cursor: pointer;
	border-right: solid #e2e3e3 5px;
	transition: color 0.5s, text-decoration 0.5s;
    -ms-transition: color 0.5s, text-decoration 0.5s;
    -webkit-transition: color 0.5s, text-decoration 0.5s;
}
td.basename:hover{
	color: blue;
	text-decoration: underline;
}
td.dirname{
	width: 19em;
	padding: 0.5em;
	color: #44484a;
	font-size: 1.3em;
	font-weight: bolder;
	border-right: solid #e2e3e3 5px;
	cursor: default;
}
td.last_edit{
	color: #44484a;
	font-size: 1.1em;
	padding: 0.5em;
	cursor: default;
}
/***Project details***/
